{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <div style="display: flex; flex-direction: column;">
        {% if text == none %}
            <h1>EL ARITCULO "{{ title }}" NO EXISTE</h1>
        {% elif text != none %} 
            <form action="{% url 'edit' title=title %}" method="post" style="display: flex; flex-direction: column;">
                {% csrf_token %}
                <div>{{ text|safe }}</div>
                
                <button style="width: fit-content;">Edit this page!</button>
            </form>
        {% endif %}
    </div>
{% endblock %}